// Global variables, etc

@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

@font-face {
  font-family: Artemis;
  src: url("/imgs/Artemis-rgvKL.ttf");
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

$bg-color: rgba(185, 185, 185, 0.716);

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Rubik", sans-serif;
}

h1,
h2 {
  font-family: Artemis, serif;
}

a {
  color: inherit;
  text-decoration: none;
}

// Landing page

.landing-page {
  width: 100%;
  height: 100vh;
  background: url("/imgs/landingbg.jpg");
  background-size: cover;
  @include center;
}

.landing-box {
  width: 35%;
  height: 500px;
  border: 5px solid black;
  background-color: $bg-color;
  padding: 1rem;
  border-radius: 25px;
  text-align: center;
}

.landing-head {
  font-size: 4rem;
  padding: 1rem;
}

.landing-box p {
  font-size: 2rem;
  letter-spacing: 0.2rem;
}

.landing-box button {
  margin-top: 2rem;
  padding: 1rem;
  background-color: rgba(128, 128, 128, 0);
  border-radius: 40px;
  border: 3px solid black;
  font-size: 2rem;
  transition: all 0.5s ease;
}

.landing-box button:hover {
  background-color: white;
}

// Login Area

.quiz-login-area {
  background: url("/imgs/quizbg.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  @include center;
}

.login-area,
.quiz-main {
  width: 75%;
  height: 500px;
  border: 5px solid black;
  background-color: rgba(185, 185, 185, 0.716);
  display: grid;
  grid-template-columns: 40% 60%;
}

.login-area img {
  width: 50%;
  object-fit: cover;
  margin: auto;
}

.login-area div {
  @include center;
  flex-direction: column;
  gap: 1rem;
}

.login-area button {
  width: 80%;
  padding: 1rem;
  cursor: pointer;
}

.button1 {
  background-color: #81c9ff;
}
.button1:hover {
  background-color: rgb(134, 178, 211);
}
.button2 {
  background-color: rgb(254, 141, 141);
}
.button2:hover {
  background-color: rgb(219, 123, 123);
}
.button3 {
  background-color: rgb(239, 141, 254);
}
.button3:hover {
  background-color: rgb(197, 119, 209);
}

//Quiz Section

.quiz-main {
  display: block;
}

.quiz-area {
  width: 40%;
  margin: auto;
}

.quiz-area h2 {
  font-size: 3rem;
  text-align: center;
}

.questions {
  margin-top: 1rem;
}

.questions h3 {
  margin-bottom: 1rem;
}

.questions ul {
  font-size: 1.2rem;
  line-height: 2rem;
}

.questions ul li:hover {
  cursor: pointer;
  text-decoration: underline 3px solid white;
}

.quiz-area button {
  padding: 1rem;
  margin-top: 1rem;
  float: right;
  margin: 1rem;
  width: 100px;
  cursor: pointer;
}

#back-btn {
  background-color: bisque;
  display: none;
}

.sign-out {
  border: 3px solid rgb(185, 113, 113);
}
.restart {
  border: 3px solid rgb(109, 246, 116);
}

.finish-btns {
  @include center;
}

.finish-btns button {
  width: 8rem;
}

// Media Queries

@media (min-width: 320px) and (max-width: 768px) {
  body {
    color: red;
  }

  //Landing Page

  .landing-box {
    width: 80%;
    font-size: 50%;
    height: 60%;
  }

  .landing-head {
    font-size: 3.3rem;
  }

  .landing-box p {
    font-size: 1.5rem;
  }

  .landing-box button {
    font-size: 1.5rem;
  }

  //Login Area

  .login-area,
  .quiz-main {
    height: 90vh;
    display: grid;
    grid-template-columns: auto;
  }

  .login-area img {
    width: 40%;
    object-fit: cover;
    margin: auto;
  }

  //Quiz
  .quiz-area {
    width: 80%;
    margin: auto;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .landing-box {
    width: 50%;
  }
  .quiz-area {
    width: 70%;
    margin: auto;
  }  
}

